@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.light-theme {
  --background-1: #FCFCFC;
  --background-2: #f5f5f5;
  --background-3: #E6E6E6;
  --background-transparent-1: rgba(241 241 241 / 0.5);
  --background-transparent-2: rgba(241 241 241 / 0.7);
  --foreground-1: #0f0f0f;
  --foreground-2: #616161;
  --foreground-3: #D6D6D6;
  --text-shadow: rgba(0 0 0 / 30%);

}

.dark-theme {
  --background-1: #000000;
  --background-2: #101010;
  --background-3: #191919;
  --background-transparent-1: rgba(14 14 14 / 0.5);
  --background-transparent-2: rgba(14 14 14 / 0.7);
  --foreground-1: #f0f0f0;
  --foreground-2: #9e9e9e;
  --foreground-3: #292929;
  --text-shadow: rgba(256 256 256 / 50%);

}


* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



*:not(body, html, .text) {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  width: 100%;
  height: 90%;
  font-family: 'DM Sans Regular', sans-serif;
  font-size: 20px;
  line-height: 150%;
  background: var(--background-1);
  color: var(--foreground-1);
  transition: 120ms ease-out;
}

h1 {
  font-family: 'DM Sans Bold', sans-serif;
  font-size: 32px;
  line-height: 150%;
  margin-top: -15%;
}

h2 {
  font-family: 'DM Sans Bold', sans-serif;
  font-size: 62px;
  line-height: 150%;
  margin-top: 5%;
  margin-bottom: 10%;
}

footer button {
  background: none;
  padding: 4px;
  border-radius: 4px;
  margin-top: -3%;
  border: none;
  cursor: pointer;
  transition: ease-out 120ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button:hover {
  background: var(--background-2);
}

footer button:active {
  background: var(--background-3);
}

main {
  max-width: 1200px;
  margin: 64px auto 32px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
}



main section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.socials a {
  text-decoration: none;
  color: var(--foreground-1);
  padding: 16px 24px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .01);
}

.socials a::after {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(40px);
  background: linear-gradient(to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770);
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;

}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}




main footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  border-top: 1.5px solid var(--foreground-3);
  transition: 120ms ease-out;
  margin-bottom: 0px;
}

main footer .socials {
  display: flex;
  gap: 16px;
}

main footer .socials a {
  font-size: 18px;
}

main footer .socials a ion-icon,
main footer .socials a svg:first-child {
  margin-right: 4px;
}

main footer .socials a:last-child svg path {
  transition: 120ms ease-out;
}

main footer button {
  transition: 120ms ease-out;
  position: relative;
  top: 0;
}

main footer button:hover {
  top: -2px;
}

main footer button:active {
  top: -1px;
}

main footer button ion-icon {
  color: var(--foreground-1);
  width: 24px;
  height: 24px;
}

@media (max-width: 663px) {
  main {
    margin: 0;
  }

  main footer {
    align-items: flex-start;
  }

  h1 {
    margin-top: 10px;
    width: fit-content;
    font-size: 22px;
  }

  .cta {
    padding: 12px 4px;
  }

  .socials a::after {
    top: 6px;
  }

  footer button {
    margin-top: 17px;
    margin-left: 30px;
  }


  .error-sec {
    margin-top: 80%;
  }
}



::-webkit-scrollbar {
  width: 7px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);

}


::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82);

}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

.btn-grp {
  width: max-content;
  display: contents;
  background: transparent;
  margin-left: -12px;
  margin-bottom: 5%;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: transparent;
}



.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--foreground-1);
}



.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--foreground-1);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}


.cta:hover svg {
  transform: translateX(0);
}

.cta:hover {
  cursor: pointer;
}

.cta:active {
  transform: scale(0.95);
  background: var(--background-1);
}










.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50px;
}

.gallery-image img {
  height: 450px;
  width: 400px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
  border-radius: 50px;
  margin-left: 0%;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 450px;
  width: 400px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: transparent;
  border-radius: 50px;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 450px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  border-radius: 50px;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption>p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}






.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}



.backlink {
  color: var(--foreground-1);
}

.code-area {
  position: absolute;
  width: 320px;
  min-width: 320px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.code-area>span {
  display: block;
}

.error-sec {
  margin-top: 40%;
}

@media screen and (max-width: 320px) {
  .code-area {
    font-size: 5vw;
    min-width: auto;
    width: 95%;
    margin: auto;
    padding: 5px;
    padding-left: 10px;
    line-height: 6.5vw;
  }
}


@media (max-width: 663px) {
  .error-sec {
    margin-top: 150%;
  }

  .gallery-image img {
    width: 300px;
    height: 350px;
  }

  .transparent-box {
    height: 350px;
  }

  .img-box {
    height: 350px;
  }
}